html {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}
.contenedor-gasto {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
}
h3 {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .5);
    padding: 1rem 0;
}

.presupuesto,
.cantidad {
    border-radius: 3px;
    background-color: rgb(102, 173, 185);
    color: rgb(16, 16, 160);
    padding: .5rem;
    margin-top: 2.4rem;
    font-weight: bold;
    padding-left: 1rem;
}

.cantidad {
    background-color: rgb(119, 218, 119);
    color: rgb(3, 90, 3);
    margin-top: 1.5rem;
}

#gastos li {
    font-size: .85rem;
}
